{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 68,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
