.user-page .info {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ff4d6a;
  box-sizing: border-box;
}
.user-page .info .set {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fff;
  z-index: 10;
}
.user-page .info .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.user-page .info .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.user-page .info .user .tel {
  margin-top: 5px;
  border-radius: 10px;
  width: min-content;
  padding: 5px 20px;
  text-align: center;
  color: #726e6e;
  background-color: rgba(253, 253, 253, 0.2);
}
