body {
  background-color: #f5f4f9;
}
.home {
  width: 100%;
  position: relative;
  padding: 12px;
}
.home .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home .header_title {
  font-size: 20px;
  font-weight: 550;
}
.home .header_login {
  font-size: 14px;
  padding-right: 20px;
}
.home .header_login a {
  text-decoration: none;
}
.home .search {
  margin: 12px 0;
  background-color: #fff;
  margin-right: 20px;
}
.home .search .search-button {
  font-size: 14px;
  font-weight: 550;
}
.home .search .list-item .home .search .list-line .home .search .list-content .home .search .list-extra {
  font-size: 18px;
}
.home .search-addr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f4f9;
  padding-right: 10px;
}
.home .search-addr button {
  font-size: 16px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
}
.home .search-addr #select-addr {
  font-size: 16px;
  color: #888;
}
.home .search-time {
  height: 37px;
  line-height: 20px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home .search-time_left {
  font-size: 16px;
  font-weight: 550;
  color: #000;
}
.home .search-time_right {
  font-size: 16px;
  color: #888;
}
.home .hot {
  padding-right: 25px;
}
.home .hot h1 {
  font-size: 20px;
}
.home .hot-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home .hot-lists-item {
  width: 49%;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 12px;
}
.home .hot-lists-item .img {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
.home .hot-lists-item .title {
  font-size: 16px;
}
.home .hot-lists-item .info {
  margin: 12px 0;
  font-size: 16px;
  color: #8a9094;
  white-space: pre-wrap;
}
.home .hot-lists-item .price {
  font-size: 15px;
  color: #ff4d6a;
}
.hidden {
  display: none;
}
