body {
  background-color: #f5f4f9;
}
.search-page .search {
  position: fixed;
  width: 100%;
  background-color: #f5f4f9;
  left: 0;
  top: 0;
}
.search-page .result {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
}
.search-page .result .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: 6px;
  background-color: #fff;
  margin-bottom: 6px;
}
.search-page .result .item img {
  width: 120px;
  height: 86px;
  object-fit: cover;
  border-radius: 8px;
}
.search-page .result .item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 90px;
  margin-left: 16px;
}
.search-page .result .item-right .title,
.search-page .result .item-right .price {
  width: 100%;
}
.search-page .result .item-right .title {
  font-size: 18px;
}
.search-page .result .item-right .price {
  color: #ff4d6a;
  font-size: 14px;
}
