body {
  background-color: #f5f4f9;
}
.modal-comment {
  width: 90%;
}
.modal-comment .text-area {
  border: 1px solid #d9d8db;
}
.modal-comment-btn {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.house-page .footer {
  background-color: white;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  color: #a2a2a2;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.house-page .comment {
  padding-bottom: 30px;
}
.house-page .comment-title {
  font-size: 28px;
}
.house-page .comment-lists * {
  margin-bottom: 5px;
  padding: 2px 0;
}
.house-page .comment-lists_item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: white;
  margin: 10px;
}
.house-page .comment-lists_item .avatar {
  margin: auto 10px;
  width: 60px;
  height: fit-content;
  object-fit: cover;
  border-radius: 50%;
}
.house-page .comment-lists_item .right {
  margin-right: 10px;
}
.house-page .comment-lists_item .right-top {
  display: flex;
  justify-content: space-between;
}
.house-page .comment-lists_item .right-bottom {
  color: #a2a2a2;
}
.house-page .banner {
  width: 100%;
}
.house-page .banner img {
  width: 100%;
  object-fit: cover;
  height: 180px;
}
.house-page .info {
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}
.house-page .info * {
  padding-bottom: 5px;
}
.house-page .info-title {
  font-size: 19px;
  font-weight: 550;
  padding-bottom: 10px;
}
.house-page .info-msg {
  padding-bottom: 10px;
}
.house-page .info-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
}
